{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/js/jquery-ui.css">
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
$( "#datepicker" ).datepicker({
dateFormat: "yymmdd"
});
});
</script>
<table cellpadding="10">
<tr><td>
	<table style="background-color: rgba(240, 240, 240, 0.7); white-space: nowrap;" cellpadding="10">
	<tr><td>
	<h2><b><u>Client Profile</u></b></h2>
	</td></tr>
	<tr><td>
	<table style="border:none">
		<tr><td><b><font size="5">Name:</font></b></td><td><font size="5">{{client[0][0]}}</font></td></tr>
		<tr><td></td><td><font size="5"> {{client[0][1]}}</font><br><br></td></tr>
		<tr><td valign="top"><b><font size="5">Phone:</font></b></td><td><font size="5">{{client[0][2]}}</font><br><br></td></tr>
		<tr><td><b><font size="5">DOB:</font></b></td><td><font size="5">{{client[0][3]}}</font></td></tr>
	</table>
	</td></tr>
</table>
	<br>
<table style="background-color: rgba(240, 240, 240, 0.7)" cellpadding="10">
		<tr><td>
		<h2><b>Add New IFA</b></h2>
		<form action="/profile?clientid={{clientid}}" method="POST">
			<fieldset>
			<!--<input type="hidden" name="clientid" value="clientid">
			-->
			<label>Date:</label>
			{{ form.duedate(size=40, id="datepicker") }}  
			{% for error in form.duedate.errors %}
           <span style="color: red;">[{{ error }}]</span>
        {% endfor %} 
			<label>Description:</label>
			{{ form.description(size=40) }}
			{% for error in form.description.errors %}
           <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
			<br><center>
			<input type="submit" value="Add IFA" style="width:150px">
			</center></fieldset>
		</form>
		</td></tr>
</table>
	<br>

</td>
<td valign="top"	>
	<table class="table table-condensed" style="background-color: rgba(240, 240, 240, 0.7)">
		<tr>
			<th>
				<center><h3>Pending IFAs
				</center>
			</th>
			<th>
				<center><h3>Completed IFAs
				</center>
			</th>
		</tr>
		<tr>
			<td valign="top" width="50%">
				<table>
					<tr><th></th>
						<th><b>DueDate&nbsp</b></th>
						<th width="2000px"><b>Description</b></th>
					</tr>
				
				{% set i = 0 %}
				{% for row in query2%}
				{% set clientid  = query2[i][0] %}
					<tr>
						<td>
						<form action="{{ url_for('editifa') }}" method="post" style="height: 2px;">
							<div class="btn-group btn-group-mini" role="group" aria-label="buttons">
							<input type="hidden" name="idifa" value="{{query2[i][0]}}">
							<button type="submit" name="move_where" value="1" class="btn btn-danger btn-mini">Del</button>
								<button type="button" class="btn btn-danger btn-mini dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<form action="{{ url_for('editifa') }}" method="post" style="height: 2px;">
											<input type="hidden" name="idifa" value="{{query2[i][0]}}">
											<input type="hidden" name="move_where" value='3'>
											<button type="submit" class="btn btn-default btn-small">Try Again Tomorrow</button>
										</form>
									
									</li>
									<li>
										<form action="{{ url_for('editifa') }}" method="post" style="height: 2px;">
											<input type="hidden" name="idifa" value="{{query2[i][0]}}">
											<input type="hidden" name="move_where" value='4'>
											<button type="submit" class="btn btn-default btn-small">Try Again In A Week</button>
										</form>
									</li>
									<li>
										<form action="{{ url_for('editifa') }}" method="post" style="height: 2px;">
											<input type="hidden" name="idifa" value="{{query2[i][0]}}">
											<input type="hidden" name="move_where" value='5'>
											<button type="submit" class="btn btn-default btn-small">Try Again In A Month</button>
										</form>
									</li>
								</ul>
							</div>
						</form>
						</td>
						
						<td>{{query2[i][2]}}</td>
						<td>{{query2[i][1]}}</td>
					</tr>
				{% set i = i + 1%}
				{% endfor %}
				</table>
			</td>
			<td valign="top" width="50%">
				<table>
						<tr><th></th>
							<th><b>DueDate&nbsp</b></th>
							<th width="2000px"><b>Description</b></th>
						</tr>
					{% set i = 0 %}
					{% for row in query3%}
					{% set clientid  = query3[i][0] %}
						<tr><td>
						<form action="{{ url_for('editifa') }}" method="post" style="height: 2px;">
							<div class="btn-group btn-group-mini" role="group" aria-label="buttons">
							<input type="hidden" name="idifa" value="{{query3[i][0]}}">
							<input type="hidden" name="move_where" value=2>
							<button type="submit" name="move_where" value="2" class="btn btn-primary btn-mini">Undo</button>
							</div>
						</form>
						
						
						</td>
							<td>{{query3[i][2]}}</td>
							<td>{{query3[i][1]}}</td>
						</tr>
					{% set i = i + 1%}
					{% endfor %}
				</table>
			</td>
	</table>
</td>
</tr>
</table>
{% endblock %}

